backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/automl_v2.db
backend/uploads/
backend/preprocessed/
backend/models_store/
backend/.env
frontend/node_modules/
frontend/dist/
ml_service/__pycache__/
ml_service/**/__pycache__/
*.pkl
*.db